:80 {
  root * /var/www/html
  php_fastcgi app:80
  file_server
  try_files {path} /index.html

  header {
    Cross-Origin-Opener-Policy "same-origin"
    Cross-Origin-Embedder-Policy "require-corp"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
}
